@charset "UTF-8";
/* Importar base */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Roboto";
  src: url(Roboto_Slab/Roboto_Slab-VariableFont_wght.ttf);
}
/* main {
    background-color: black;
} */
/* Valores para evento: nada, navidad, valentin, AnoNuevo */
/* Importar components*/
/* Mover luego lo de abajo a los archivos donde corresponden */
h1 {
  font-size: 40px;
  font-family: "Roboto";
  text-align: center;
  font-weight: bold;
  color: white;
  width: 100%;
}

.flex {
  display: flex;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
  width: 100%;
}

.logo {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.navbar-brand, .nav-link-active, .nav-link, .nav-link-dropdown-toggle, .dropdown-item {
  color: black;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  width: 100%;
}
footer .map {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  gap: 0;
  width: 100%;
  padding: 10px;
}
footer .map .map-text {
  display: flex;
  justify-content: center;
  font-size: 20px;
  font-family: "roboto";
  text-align: start;
  font-weight: bold;
  color: black;
  width: 600px;
}
footer .socials {
  height: 100%;
  width: 100%;
}
footer .socials .instagram a, footer .socials .whatsapp a {
  text-decoration: none;
  color: black;
  font-size: 40px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}
footer .socials .instagram .logo, footer .socials .whatsapp .logo {
  width: 40px;
  height: 40px;
}

/* Importar layouts */
.main-index {
  background-color: black;
}
.main-index h1 {
  color: white;
}
.main-index .article .article-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: 50%;
}
.main-index .article .article-content p {
  font-size: 30px;
  font-family: "Roboto";
  text-align: center;
  font-weight: bold;
  color: white;
  width: 80%;
}
.main-index .article .article-content h2 {
  font-size: 40px;
  font-family: "Roboto";
  text-align: center;
  font-weight: bold;
  color: white;
  width: 80%;
}
.main-index .article .img {
  width: 50%;
  height: 600px;
  object-fit: cover;
}

.product-div {
  background-image: url(../images/EnduroAlquiler.webp);
  background-attachment: fixed;
}
.product-div .products { /* Caja global */
  flex-wrap: wrap;
  padding: 20px;
  gap: 20px;
  width: 60%;
  padding: 20px;
  flex-direction: column;
}
.product-div .products h1 {
  color: white;
  background-color: black;
}
.product-div .products .product-opcion { /* Secciones de productos de dos en dos */
  flex-direction: row;
  justify-content: space-around;
  gap: 20px;
  padding: 20px;
}
.product-div .products .product-opcion h2 {
  text-align: center;
  color: white;
  font-size: 1.5rem;
}
.product-div .products .product-opcion .product { /* Productos individuales dentro de cada sección de productos */
  flex-direction: column;
  width: 50%;
  background-color: black;
  border-radius: 20px;
}
.product-div .products .product-opcion .product:hover {
  width: 80%;
  transition: 1s;
}
.product-div .products .product-opcion .product img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.product-div .products .product-opcion .product h2 {
  padding: 15px;
  color: white;
  font-weight: bold;
}
.product-div .products .product-opcion .product-content { /* Caja de texto de los productos */
  font-size: 20px;
  text-align: center;
  padding: 30px;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  color: white;
  font-weight: bold;
}
.product-div .products .product-opcion .product-content a {
  text-decoration: none;
  background-color: black;
  color: white;
  padding: 10px;
  width: 100%;
  border-radius: 10px;
}

.center-tienda {
  background-image: url(../images/EnduroTienda.webp);
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
  width: 100%;
}
.center-tienda h1 {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  width: 75%;
}
.center-tienda .tienda-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 2fr));
  padding: 20px;
  gap: 20px;
  width: 75%;
  background-color: rgba(0, 0, 0, 0.5);
}
.center-tienda .tienda-container .tienda {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0px;
  width: 100%;
  border: 1px solid black;
  box-shadow: 9px 9px 9px rgb(55, 55, 55);
}
.center-tienda .tienda-container .tienda img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.center-tienda .tienda-container .tienda div {
  padding: 20px;
  background-color: black;
  width: 100%;
}
.center-tienda .tienda-container .tienda div h2, .center-tienda .tienda-container .tienda div p {
  color: white;
}
.center-tienda .tienda-container .tienda div:hover {
  background-color: black;
  color: white;
}
.center-tienda .tienda-container .tienda div:hover h2 {
  color: white;
}

.gallery-main {
  background-color: black;
}
.gallery-main h1 {
  color: white;
}
.gallery-main .gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  padding: 20px;
  gap: 20px;
  place-content: center;
  background-color: black;
}
.gallery-main .gallery .gallery-image {
  display: grid;
  place-content: center;
  border: 2px solid white;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
}
.gallery-main .gallery .gallery-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gallery-main .gallery .gallery-image div {
  background-color: rgba(0, 0, 0, 0.265);
  padding: 20px;
  color: white;
  position: absolute;
  height: 100%;
  transition: 0.5s;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 0;
  width: 100%;
}
.gallery-main .gallery .gallery-image:hover div {
  opacity: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

form {
  padding: 10px;
}
form div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 60;
  padding: 10px;
}
form div label {
  color: white;
  background-color: black;
  border-radius: 5px;
}
form div input {
  border-radius: 10px;
  box-shadow: 5px 5px 5px black;
}
form div button {
  background-color: black;
  color: white;
  border-radius: 10px;
}

.seccion-contacto {
  background-image: url(../images/EnduroContacto.webp);
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
}
.seccion-contacto h1 {
  font-size: 40px;
  font-family: "Roboto";
  text-align: center;
  font-weight: bold;
  color: white;
  width: 65%;
  background-color: black;
}

@media (min-width: 992px) {
  .article .article-content:hover {
    background-color: rgba(128, 128, 128, 0.398);
    transition: 1s;
  }
  .article .img {
    width: 50%;
    height: 600px;
    object-fit: cover;
  }
  .article .img:hover {
    width: 60%;
    height: 700px;
    transition: 2s;
  }
}
@media (max-width: 1146px) {
  .tienda-container {
    width: 60%;
  }
}
@media (max-width: 991px) {
  .main-index .article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
    width: 100%;
    padding: 10px;
  }
  .main-index .article .article-content {
    position: absolute;
    justify-content: end;
    height: 500px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.361);
  }
  .main-index .article .article-content h2 {
    font-size: 2rem;
    font-family: "Roboto";
    text-align: center;
    font-weight: bold;
    color: white;
    width: 100%;
  }
  .main-index .article .article-content p {
    font-size: 1rem;
    font-family: "Roboto";
    text-align: center;
    font-weight: bold;
    color: white;
    width: 90%;
  }
  .main-index .article .img {
    /* @include img(100%, 500px, cover); */
    width: 100%;
    height: 500px;
  }
  .product-div {
    background-image: url(../images/EnduroAlquiler.jpeg);
    background-size: cover;
  }
  .product-div .products {
    width: 75%;
  }
  .product-div .products .product-opcion {
    flex-direction: column;
    align-items: center;
  }
  .product-div .products .product-opcion .product {
    width: 80%;
  }
  .product-div .products .product-opcion .product:hover {
    width: 100%;
  }
  footer {
    flex-direction: column;
  }
  footer .socials .instagram, footer .socials .whatsapp {
    font-size: 25px;
    font-family: "Roboto";
    text-align: center;
    font-weight: lighter;
    color: black;
    width: 100%;
  }
  footer .socials .instagram img, footer .socials .whatsapp img {
    width: 25px;
    height: 25px;
    object-fit: cover;
  }
  footer .map {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
    width: 100%;
  }
}
@media (max-width: 660px) {
  .article img {
    height: 500px;
  }
  .article img .article-content {
    height: 500px;
  }
  .article img .article-content h2 {
    font-size: 1.5rem;
    font-family: "Roboto";
    text-align: center;
    font-weight: lighter;
    color: white;
    width: 100%;
  }
  .article img .article-content p {
    font-size: 0.8rem;
    font-size: 0.8rem;
    font-family: "Roboto";
    text-align: center;
    font-weight: lighter;
    color: white;
    width: 100%;
  }
  .product-div .products {
    width: 80%;
  }
  .product-div .products .product-opcion .product {
    width: 100%;
  }
  .center-tienda .tienda-container {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
  footer .map iframe {
    width: 80%;
  }
  footer .map .map-text {
    width: 80%;
  }
}

/*# sourceMappingURL=style.css.map */
