footer {
    @include flex(flex, row, space-between, center, 0, 100%);

    .map {
        @include flex(flex, column, center, end, 0, 100%);
        padding: 10px;
    
        .map-text {
            display: flex;
            justify-content: center;
            @include texto(20px, 'roboto', start, bold, black, 600px);
        }
    }
    
    .socials {
        height: 100%;
        width: 100%;
    
        .instagram, .whatsapp {
            a {
                text-decoration: none;
                color: black;
                font-size: 40px;
                font-family: 'Roboto', sans-serif;
                font-weight: bold;
            }
        
            .logo {
                width: 40px;
                height: 40px;
            }
        }
    }
}