.product-div {
    background-image: url(../../images/EnduroAlquiler.jpeg);
    background-attachment: fixed;

    .products { /* Caja global */
        flex-wrap: wrap;
        padding: 20px;
        gap: 20px;
        width: 60%;
        padding: 20px;
        flex-direction: column;

        h1 {
            color: $color;
            background-color: $fondo;
        }
    
        .product-opcion { /* Secciones de productos de dos en dos */
            flex-direction: row;
            justify-content: space-around;
            gap: 20px;
            padding: 20px;

            h2 {
                text-align: center;
                color: white;
                font-size: 1.5rem;
            }
    
            .product { /* Productos individuales dentro de cada sección de productos */
                flex-direction: column;
                width: 50%;
                background-color: $fondo;
                border-radius: 20px;

                &:hover {
                    width: 80%;
                    transition: 1s;
                }
    
                img {
                    @include img(100%, 100%, cover);
                }
    
                h2 {
                    padding: 15px;
                    color: $color;
                    font-weight: bold;
                }
            }
    
            .product-content { /* Caja de texto de los productos */
                font-size: 20px;
                text-align: center;
                padding: 30px;
                flex-direction: column;
                gap: 15px;
                justify-content: center;
                color: $color;
                font-weight: bold;
            
                a {
                    text-decoration: none;
                    background-color: darken($color: $fondo, $amount: 20%);
                    color: $color;
                    padding: 10px;
                    width: 100%;
                    border-radius: 10px;
            
                }
            }
        }
    }
}