@media (min-width: 992px) {
    .article .article-content {
        &:hover {
            background-color: rgba(128, 128, 128, 0.398);
            @if $evento != nada {
                background-color: darken($color: $fondo, $amount: 15%);
            }
            transition: 1s;
        }
    }

    .article .img {
        @include img(50%, 600px, cover);

        &:hover {
            width: 60%;
            height: 700px;
            transition: 2s;
        }
    }
}

@media (max-width: 1146px) {
    .tienda-container {
        width: 60%;
    }
}

@media (max-width: 991px) {

    .main-index {
        .article {
            @include flex(flex, column, center, center, 0, 100%);
            padding: 10px;
    
            .article-content {
                position: absolute;
                justify-content: end;
                height: 500px;
                width: 100%;
                background-color: rgba(0, 0, 0, 0.361);
    
                h2 {
                    @include texto(2rem, 'Roboto', center, bold, $color, 100%)
                }
    
                p {
                    @include texto(1rem, 'Roboto', center, bold, $color, 90%);
                }
            }
    
            .img {
                /* @include img(100%, 500px, cover); */
                width: 100%;
                height: 500px;
            }
        }
    }

    .product-div {
        background-image: url(../images/EnduroAlquiler.jpeg);
        background-size: cover;
        .products {
            width: 75%;
    
            .product-opcion {
                flex-direction: column;
                align-items: center;
    
                .product {
                    width: 80%;
    
                    &:hover {
                        width: 100%;
                    }
                }
            }
        }
    }

    footer {
        flex-direction: column;

        .socials .instagram, .socials .whatsapp {
            @include texto(25px, 'Roboto', center, lighter, black, 100%);

            img {
                @include img(25px, 25px, cover);
            }
        }

        .map {
            @include flex(flex, column, center, center, 0, 100%);
        }
    }
}

@media (max-width: 660px) {
    .article img {
        height: 500px;

        .article-content {
            height: 500px;

            h2 {
                @include texto(1.5rem, 'Roboto', center, lighter, $color, 100%);
            }

            p {
                font-size: 0.8rem;
                @include texto(0.8rem, 'Roboto', center, lighter, $color, 100%);
            }
        }
    }

    .product-div  .products {
        width: 80%;
        .product-opcion .product {
            width: 100%;
        }
    }

    .tienda-container {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

        .tienda img {
            @include img(50%, 300px, cover);
        }
    }

    footer .map {
        
        iframe {
            width: 80%;
        }

        .map-text {
            width: 80%;
        }
    }
}